<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948135875611-160cca95q7h6redi36kp5pairb11e06a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948135875611-160cca95q7h6redi36kp5pairb11e06a</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Oann-bcRLY6Tcc9wmgWCmakMmDhjTIE</string>
	<key>GCM_SENDER_ID</key>
	<string>948135875611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>crud-f2452</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-f2452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948135875611:ios:0509a9046ea1f1485cd4be</string>
</dict>
</plist>